/* GENERAL */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0c0f18;
  color: #f1c40f;
  display: flex;
  flex-direction: column;
}

/* CABECERA */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: #0c0f18;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Icon Area Personal */
.personal img {
  width: 24px;
  height: 24px;
}

/* MENU */
.menu ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #f1c40f;
}

div ul li a:hover,
div ul li a#activo {
  color: white;
  font-weight: bold;
}


/* TÍTULO */
.titulogeneral {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

.titulogeneral img {
  width: 150px;
  padding: 20px;
}

.titulogeneral a {
  text-decoration: none;
  color: #f1c40f;
}

/* BÚSQUEDA */

.buscar form {
  background-color: #FFD700;
  border-radius: 25px;
  padding: 5px 35px;
}

.buscar input[type="search"] {
  border: none;
  outline: none;
  /* para cuando clicas encima, que no aparezca el cuadrado */
  background: transparent;
}


/* PIE DE PÁGINA */
footer {
  height: 20vh;
  background-color: #0c0f18;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  gap: 20px;
  padding: 30px 40px;
}

/* MENÚ PIE*/
.menupie ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menupie ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #f1c40f;
}

/* ENLACES EXTERNOS */
div span.titulitos {
  font-weight: bold;
  margin: 10px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.logos {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.logos img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

/* QUIÉNES SOMOS */
.somos {
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.somos input[type="submit"] {
  outline: none;
  background: #0c1a30;
  color: #f1c40f;
}

.somos input[type="submit"]:hover {
  transform: scale(1.2);
}

.somos .git img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

/* FLECHA INICIO*/
footer>a {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer>a>img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

footer a img:hover {
  /* esto aplica a todas las imagenes de mi footer */
  transform: scale(1.3);
}

/* Si no pongo un margen del tamaño de la cabecera, se me come el main */
main {
  margin-top: 9vh;
  /* pongo uno más del header para que respire un poco más */
  flex: 1;
  padding: 20px;
}

/* NOVEDADES */

.novedades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #12214a;
}

main>img {
  width: 100%;
  opacity: 0.6;
}

/* CADA NOTICIA */
.novedad {
  background-color: #0c0f18;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
  box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.4);
}

.novedad span.titulo {
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
  padding: 10px;
  text-shadow: 3px 4px 3px rgba(177, 114, 0, 0.6);
}

.novedad span.imgnov img {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  object-fit: cover;
  /* esto recorta la imágen inteligentemente  */
}

.novedad span.img img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.novedad span.contenido {
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
}

.novedad span.continar {
  text-decoration: underline;
  color: #9b7d05;
  text-transform: uppercase;
  font-size: 10px;
  padding: 20px;
  display: flex;
  justify-content: end;
  align-items: start;
}

/* ÁREA PERSONAL */

.areapersonal {
  display: flex;
  flex-direction: column;
  background-color: #0b0736;
}

.perfil {
  background-image: url(../media/bgperfil.jpg);
  width: 100%;
  text-align: center;
  padding: 60px 0;
  border-radius: 8px;
}

.perfil .iconousuario img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #a58b03;
}

/* esto para que cada uno sea una linea */
.perfil .nombre,
.perfil .nickname,
.perfil button {
  display: block;
  margin: 8px auto;
}

.perfil .nombre {
  font-size: 24px;
  font-weight: bold;
}

.perfil .nickname {
  font-size: 16px;
  opacity: 0.8;
}

.perfil button {
  padding: 8px 16px;
  background-color: #FFD700;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.perfil button:hover {
  background-color: #c2a800;
  transform: scale(1.2);
}

.extrass {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
}

.extrapersona {
  flex: 0 20%;
  /*Le ponngo el 0 para que no crezca, así ocupa siempre el 20%  */
  background-color: #02001e;
  box-shadow: 5px 6px 4px 2px #000000;
  padding: 20px;
  border-radius: 10px;
}

.extrapersona .seguidores img {
  width: 100%;
  max-width: 200px;
  margin: 10px;
}

.extrapersona span {
  display: block;
  padding: 10px;
}

.extrapersona span.descripcion {
  font-size: 18px;
  padding: 10px 0 2px 0;
}

.extrapersona span.union {
  font-size: 14px;
  padding: 40px 0 20px 0;
}

.extrapersona .seguidores span {
  text-transform: uppercase;
  font-size: 12px;
  border-width: 1px 0 0 0;
  border-style: solid;
}

.extraacciones {
  flex: 1;
  background-color: #02001e;
  box-shadow: 5px 6px 4px 2px #000000;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extraacciones span {
  display: block;
  text-transform: uppercase;
  font-size: 25px;
  padding: 15px;
  font-weight: bold;
  border-width: 2px 0 2px 0;
  border-style: solid;
  margin: 15px;
}

.extraacciones div {
  width: 90%;
  text-align: center;
  margin: 15px 0;
}

.extraacciones iframe {
  width: 90%;
  border-radius: 8px;
  border: none;
}


/* COLECCIONES */

.colecciones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.colecciones a {
  text-decoration: none;
}

.coleccion {
  padding: 15px;
  border: 2px solid #000000;
  background-color: #192f6b;
  border-radius: 8px;
}

.coleccion .titulo {
  color: #FFD700;
  font-size: 20px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.miniaturas {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.miniatura {
  width: 100px;
  height: 140px;
  box-shadow: 6px 7px 3px #0c1a30;
  border-radius: 6px;
}

.miniatura img {
  width: 100%;
  height: 140px;
  border-radius: 6px;
}

.miniatura:last-child {
  width: 120px;
  margin: 0 auto;
  box-shadow: none;
}

/* PELÍCULAS Y SERIES */

.ps {
  background-color: #0a1430;
}

.titulops {
  font-size: 50px;
  text-align: center;
  margin: 30px;
  text-shadow: 4px 3px 2px #523601;
  text-transform: uppercase;
}

/* POR MES */
.ps section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 15px;
  flex-wrap: wrap;
}

.mes {
  font-size: 25px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive;
  width: 150px;
  padding-left: 10px;
}

.card {
  width: 130px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 1px -1px 10px 5px #6868685e;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.card:hover {
  transform: scale(1.2);
}

/* FORO */

/* No es el foro más bonito de ver, pero era el desiño que me gustaba con los colores que uso durante toda mis páginas */
.foro {
  padding: 5px;
  width: 85%;
  margin: 20px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: system-ui, sans-serif;
}

.accordion {
  background: #12214a;
  color: #f1c40f;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  border: none;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  font-style: oblique;
  text-transform: uppercase;
}

.accordion:hover {
  background: #00063b;
}

.comentario {
  display: none;
  opacity: 0;
}

.comentario.visible {
  display: block;
  opacity: 1;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #192f6b;
}

.comentario:nth-child(odd) {
  background-color: #040268;
}

.autor {
  display: block;
  font-size: 12px;
  color: #afafaf;
  padding: 10px;
  word-spacing: 2px;
}

.nombre {
  font-weight: bold;
  color: #ffea2c;
}

.texto {
  font-size: 14px;
  padding: 10px;
}

.foro form.comentario.visible {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.foro form.comentario.visible textarea {
  background-color: #18173d;
  border: none;
  border-radius: 5px;
  width: 80%;
}

.foro form.comentario.visible button[type="submit"] {
  outline: none;
  background: #0c1a30;
  color: #f1c40f;
  width: 20%;
  margin: 10px 0 10px 40px;
}

.foro form.comentario.visible button[type="submit"]:hover {
  transform: scale(1.2);
}

/* ESTRENOS */

.estrenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 0;
  background-color: #0a1430;
}

.estreno {
  background-color: #0c0f18;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  box-shadow: 1px 5px 10px #000000;
  border-radius: 10px;
}

.sinopsis {
  text-align: center;
  text-transform: uppercase;
  word-spacing: 5px;
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 20px;
  background-color: #0a173a;
  box-shadow: 0 2px 10px #000;
  border-radius: 10px;
  width: 90%;
  text-shadow: 9px 6px 5px #000;
}

.trailer {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.trailer iframe {
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 16 / 9;
  /*para que haga autoamticamente el ancho-alto */
}



/* RESPONSIVE TABLET */

@media (min-width: 800px) and (max-width: 1400px) {

  header {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  main {
    margin-top: 35vh;
  }
  .novedades {
    flex-direction: column;
  }

  .novedad span img {
    width: 100%;
    height: 400px;
  }
}

/* RESPONSIVE MOVIL */

@media (max-width: 800px) {

  header {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .menu ul li a {
    font-size: 14px;
  }

  .menu ul {
    padding: 0;
  }

  .titulogeneral {
    font-size: 10px;
  }

  .titulogeneral img {
    width: 100px;
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    margin-top: 35vh;
  }

  .novedades {
    flex-direction: column;
  }

  .novedad span img {
    width: 100%;
    height: 400px;
  }
}